*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFFFFF;
    border: 1px solid black;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}
h2{
    color: violet;
}
a{
    color: black;
    margin: 15px;
    text-decoration: none;
}
button{
    background-color: blue;
    color: white;
    padding: 5px;
}
@media(max-width: 1023px){
    nav{
        gap:16px;
    }
    button{
        padding: 8px 14px;
        font-size: 14px;
    }
}
@media (max-width: 767px) {
  nav {
    gap: 10px;
  }

  button {
    padding: 4px 7px;
    font-size: 8px;

    }
}