*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 10px;
    width: 360px;
    height: 435px;
    border: 1px solid gray;
}
.logo{
    width: 360px;
    height: 200px;
    color: white;
    background: linear-gradient(120.91deg, #667EEA 0%, #764BA2 100%);
}
.text{
    padding: 15px;
    position: relative;
    left: 260px;
}
.logo-icon{
    padding: 30px 150px 24px ;
    font-size: 25px;
}
main, footer{
    padding: 10px;
}
.dongdau{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.dongdau p{
    color: #6366F1;
    background: var(--color-blue-6710, #6366F11A);
}
.dongdau span{
    color: rgb(228, 192, 11);
}
.than{
    line-height: 30px;
}
.than p{
    color:#212529;
    opacity: 75%;
}
.cuoithan{
    display: flex;
    justify-content: space-between;
}
footer{
    width: 302px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--color-azure-89, rgba(222, 226, 230, 1));
    margin-left: 10px;
}
footer p{
    font-weight: bold;
    color: #6366F1;
    font-size: 20px;
}
footer button{
    background-color: blue;
    color: white;
    padding: 10px;
}
@media(max-width:1023px){
    body{
        width: 100%;
    }
}