body {
    background-color: rgb(17, 24, 39);
    color: white;
    margin-left: 14%;
    width: 75%;
}

.big {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

main {
    display: flex;
    justify-content: center;
    gap: 150px;
}

header {
    width: 400px;
}

header h2 {
    color: #6779E3;
    color: linear-gradient(90deg, rgba(103, 121, 227, 1) 0%, rgba(108, 111, 213, 1) 22%, rgba(109, 106, 205, 1) 53%, rgba(112, 95, 190, 1) 77%, rgba(116, 83, 173, 1) 100%);
}
header p{
    font-size: 18px;
}
header i{
    margin-top: 5px;
    padding:5px;
    text-align: center;
    border: 1px solid rgb(41, 47, 61);
    background-color: rgb(41, 47, 61);
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
footer{
    display: flex;
    justify-content: space-between;
}
footer i{
    color: red;
}